<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ΘΧ ΕΨ</title>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="icon" type="image/x-icon" href="/assets/icons8-triangle-24.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>