---
layout: page.njk
---
<div class="stage">
  <span class="letters-primary">ΘΧ</span>
  <span class="divider"></span>
  <span class="letters-chapter">ΕΨ</span>
  <span class="chapter-label">Epsilon Psi Chapter</span>
</div>
