---
layout: page.njk
script: home.js
---

<div class="undergrads hidden" id="undergrads-section">
  {% if site.undergradSocialMedia %}
  <p>Make sure you follow our social media</p>
  <div class="social-bar">
  {% for name, data in site.undergradSocialMedia %}
    <a href="{{ data.url }}" class="social-link" aria-label="{{ name }}">
      <img src="{{ data.icon }}" height="36" width="36" />
    </a>
  {% endfor %}
  </div>
  {% endif %}
</div>
<div class="undergrads desktop" id="undergrads-button">
  <button onClick="undergradBtn()">UNDERGRADS</button>
</div>
<div class="stage">
  <span class="letters-primary">ΘΧ</span>
  <span class="divider"></span>
  <span class="letters-chapter">ΕΨ</span>
  <span class="chapter-label">Epsilon Psi Chapter</span>
  <div class="mobile" id="mobile-button-container">
    <button onClick="undergradBtnMobile()">UNDERGRADS</button>
    <button onClick="alumniBtnMobile()">ALUMNI</button>
  </div>
</div>
<div class="alumni desktop" id="alumni-button">
  <button onClick="alumniBtn()">ALUMNI</button>
</div>
<div class="alumni hidden" id="alumni-section">
  {% if site.alumniSocialMedia %}
  <p>Make sure you follow our social media</p>
  <div class="social-bar">
  {% for name, data in site.alumniSocialMedia %}
    <a href="{{ data.url }}" class="social-link" aria-label="{{ name }}">
      <img src="{{ data.icon }}" height="36" width="36" />
    </a>
  {% endfor %}
  </div>
  {% endif %}
</div>